<modal-classic title="Update a Company" (close)="closeModal()">
  <ng-container modalBody>
    <form [formGroup]="updateCompanyForm" class="grid grid-cols-2 gap-6">
      <div>
        <form-label label="Company" />

        <input
          formControlName="company"
          type="text"
          class="py-3 px-4 border block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
          placeholder="Company"
        />
      </div>
      <div>
        <form-label label="Website" />

        <input
          formControlName="website"
          type="text"
          class="py-3 px-4 border block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
          placeholder="www.domain.com"
        />
      </div>

      <div>
        <form-label label="Url" />
        <input
          formControlName="url"
          type="text"
          class="py-3 px-4 border block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
        />
      </div>
    </form>
  </ng-container>
  <ng-container modalActions>
    <button
      (click)="closeModal()"
      type="button"
      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
      data-hs-overlay="#hs-vertically-centered-modal"
    >
      Cancel
    </button>
    <button
      (click)="updateCompany()"
      [disabled]="updateCompanyForm.invalid"
      type="button"
      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
    >
      Update Company
    </button>
  </ng-container>
</modal-classic>
